{#
/**
 * @file
 * Default theme implementation for deployment.
 *
 * @see template_preprocess_workspace_deployment()
 *
 * @ingroup themeable
 */
#}

<div id="tabs">
  <ul>
    {% for workspace in workspaces %}
      <li><a href="#tabs-{{ workspace.machine_name.value }}">{{ workspace.label.value }}</a></li>
    {% endfor %}
    <li>
      Current workspace: <a href="#tabs-{{ active_workspace.machine_name.value }}">{{ active_workspace.label.value }}</a>
      {{ deploy }}
    </li>
  </ul>

  {% for workspace in workspaces %}
  <div id="tabs-{{workspace.machine_name.value}}">
    <iframe src="/?workspace={{workspace.machine_name.value}}" scrolling="no"></iframe>
  </div>
  {% endfor %}
  <div id="tabs-{{ active_workspace.machine_name.value }}">
    <iframe src="/?workspace={{active_workspace.machine_name.value}}" scrolling="no"></iframe>
  </div>
</div>